.HomeContainer {
    background-color: brown;
    color: #8A8B82;
    font-size: 12px;
    font-weight: bold;
}

.HomeTittle {
    color: #8A8B82;
    font-size: 24px;
    font-weight: bold;
    padding-top: 25px;
}

.HomeEventsContainer {
    background-color: peru;
    display: grid;
    
}