.navbar-container {
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #672274;
    padding: 10px 20px;
    height: 80px;
}

.navbar-logo {
    max-width: 150px;
    width: 150px;
    height: 150px;
}

.navbar-logo img{
    vertical-align: middle;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-user-drop {
    margin-left: 20px;
}

.navbar-user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border: 1.5px solid #FFC145;
    border-radius: 10px;
    height: 45px;
}

.navbar-user:hover {
    background-color: #ffc145;
}

.navbar-user-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFC145;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-user a{
    text-transform: uppercase;
    font-weight: bold;
    color: #FFC145;
    text-decoration: none;
    padding: 10px 15px;
}

.navbar-user a:hover{
    color: #672274;
    transition: color 0.3s;
}

.navbar-user-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.navbar-user-box span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-user-icon {
    font-size: 32px;
}


