.ticketcard-container {
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    
}

.ticketcard-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
  
.ticketcard-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    /*flex-basis: calc(80% - 20px); /* Define a largura do card e subtrai a gap */
    /* flex: 1 1 calc(33.333% - 40px); */
    width: 300px;
    max-width: 400px; /*Define a largura máxima do card*/
    box-shadow: 0 4px 8px rgba(103, 34, 116, 0.5);
    transition: transform 0.2s, box-shadow 0.2s; 
    background-color: #f0f0f0;
}

.ticketcard-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(103, 34, 116, 0.5);
}

.ticketcard-infos {
    
}

.ticketcard-box img{
    width: 100%; /* Faz com que a imagem ocupe 100% da largura do container */
    height: 200px; /* Mantém a proporção da imagem */
    border-radius: 8px 8px 0 0; /* Adiciona bordas arredondadas à imagem */
    object-fit: cover;
    margin-bottom: 10px;
}

.ticketcard-box h2 {
    font-size: 1.3em;
    color: #672274;
    margin: 0 20px 10px 20px ;
    
    display: -webkit-box;         /* Necessário para usar -webkit-box-orient */
    -webkit-box-orient: vertical; /* Define a orientação da caixa flexível */
    overflow: hidden;             /* Esconde o texto que ultrapassa o limite */
    text-overflow: ellipsis;      /* Adiciona reticências no final do texto truncado */
    -webkit-line-clamp: 2;        /* Limita o número de linhas a 3 */
    line-height: 1.5;             /* Altura da linha para calcular corretamente */
    max-height: calc(1.5em * 2); 
}

.ticketcard-itens {
    border-top: 1px solid rgba(103, 34, 116, 0.5);
    border-bottom: 1px solid rgba(103, 34, 116, 0.5);
}

.ticketcard-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px 5px 20px;
}

.ticketcard-item-icon {
    font-size: 15px;
    color: #8e8c8c;
}

.ticketcard-item-location {

}

.ticketcard-item p {
    font-size: 12px;
    margin: 5px 0;
    color: #8e8c8c;
}

.ticketcard-options {
    display: flex;
}

.ticketcard-print {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 15px 20px 10px 20px;
    gap: 10px;
    cursor: pointer;
}

.ticketcard-item-icon {
    font-size: 18px;
    color: #672274;
}

.ticketcard-print span {
    text-decoration: none;
    text-transform:uppercase;
    color: #672274;
    font-weight: 700;
    font-size: 12px;
}

/* Media Queries para ajustar os cartões em diferentes tamanhos de tela */
@media (max-width: 12000px) {
    .ticketcard-box {
        
        max-width: 300px;
    }
}

@media (max-width: 650px) {
    .ticketcard-box {
        
        max-width: 280px;
    }
}
